{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<h1>hello</h1>
<a href="{{path('contact')}}">Add contact</a>
<br>
<a href="{{path('project')}}">Add project</a>
{% endblock %}
