{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}


{% if is_granted('ROLE_ADMIN') %}

<h1>Hello Admin</h1>
<button><a href="{{path('contact')}}">Add contact</a></button>
<br>
<button><a href="{{path('project')}}">Add project</a></button>
<br>
<button>Add a Romp (en attente)</button>
<br>
<button><a href="{{path('research_output')}}">Add a research Output</a></button>
{% elseif is_granted('ROLE_USER') %}

<h1>Hello User</h1>
<br>
<button>Add a Romp (en attente)</button>
<br>
<button><a href="{{path('research_output')}}">Add a research Output</a></button>
{% else %}

{% endif %}
{% endblock %}
